// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.text-success {
  color :green;
}

.no {
  color :red;
}

a:visited {
  color: #666;
}

.title, .body, .action {
  margin-bottom: 10px;
}

